[Unit]
Description=Start frontend server.

[Service]
Type=simple
ExecStart=/bin/bash /home/ubuntu/pixelstreaming/startFE.sh

[Install]
WantedBy=multi-user.target
